doctype html
html(lang="es")
  head
    title Tarea Express
    meta(charset="utf-8")
  body
    h1 Tarea
    form(action="/guardado" method="POST")
      div(class="form-group")
        label(for="frase") Ingrese Frase: 
        input(type="text", name="frase",placeholder="Frase",class ="form-control")
      div
        input(type="submit" value="Enviar" class ="btn btn-info")
    form(action="/listado" method="GET")
      div
        input(type="submit" value="Consultar" class ="btn btn-info")
